*{
    font-family: 'Inter', sans-serif;
}
/* ////////////// Title Bar for each Climate Options ///////////////////////// */

.title{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-bottom: 1px solid rgba(0,0,0,0.3);
    height: 36px;
    width: 100wh;
}
#Interval{
    /* margin-left: 70%; */
    margin-right: 10px;
    /* text- */
}
.IntervalRange{
    display: flex;
    margin-left: auto;
    margin-right: 30px;
    align-items: center;
}

#startDate{
    margin-left: auto;
    height: 20px;
    width: 100px;
}
#to{
    color: #5c5c5c;
    padding-left: 7px;
    padding-right: 7px;
}
#endDate{
    width: 100px;
    height: 20px;
}
#vegetation_head{
    padding-left: 9px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#carrot{
    margin-left: 78px;
    border-right: 1px solid rgba(0,0,0,0.3);
    padding-right: 10px;
    padding-top:6px;
    font-size: 23px;
}

#fire_head{
    padding-left: 9px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#fire{
    margin-left: 78px;
    border-right: 1px solid rgba(0,0,0,0.3);
    padding-right: 12px;
    padding-top:6px;
    font-size: 23px;
}

#weather_head{
    padding-left: 9px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#weather{
    margin-left: 78px;
    border-right: 1px solid rgba(0,0,0,0.3);
    padding-right: 12px;
    padding-top:6px;
    font-size: 23px;
}

#water_head{
    padding-left: 9px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#water{
    margin-left: 78px;
    border-right: 1px solid rgba(0,0,0,0.3);
    padding-right: 12px;
    padding-top:6px;
    font-size: 23px;
}

#rain_head{
    padding-left: 9px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#rain{
    margin-left: 78px;
    border-right: 1px solid rgba(0,0,0,0.3);
    padding-right: 12px;
    padding-top:6px;
    font-size: 23px;
}

#soil_head{
    padding-left: 9px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#soil{
    margin-left: 78px;
    border-right: 1px solid rgba(0,0,0,0.3);
    padding-right: 12px;
    padding-top:6px;
    font-size: 23px;
}

/* /////////////////////////// Vegetation Section //////////////////////////////// */

.vegSection{
    display: flex;
    /* flex-wrap: wrap; */
    gap: 20px;
    position: fixed;
    overflow-y: auto;
    width: 100%;
    /* flex: 1; */
    background-color: white;
    flex-direction: column;
    height: 100vh;
    /* overflow: hidden; */
    box-sizing: border-box;

}
.veg-container{
    /* position: relative; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:25px;
}



#ndvi-chart-title{
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 3px;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
#ndviChart{
    padding-left: 10px;
    /* margin-left:30px; */
    min-height: 300px;
    width: auto;
}

.ndviChartDiv{
    margin-top: 20px;
    border-radius: 0.5rem;
    background-color: white;
    height: 340px;;
    margin-left: 90px;
    width: 450px;
    box-shadow: 4px 4px 20px 2px rgba(0,0,0,0.15);
}

#evi-chart-title{
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 3px;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
#eviChart{
    padding-left: 10px;
    /* margin-left:30px; */
    min-height: 300px;
    width: auto;
}

.eviChartDiv{
    margin-top: 20px;
    border-radius: 0.5rem;
    background-color: white;
    height: 340px;
    /* margin-left: 100px; */
    width: 450px;
    box-shadow: 4px 4px 20px 2px rgba(0,0,0,0.15);
}

#gci-chart-title{
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 3px;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
#gciChart{
    padding-left: 10px;
    /* margin-left:30px; */
    min-height: 300px;
    width: auto;
}

.gciChartDiv{
    margin-top: 20px;
    border-radius: 0.5rem;
    background-color: white;
    height: 340px;
    /* margin-left: 100px; */
    width: 450px;
    box-shadow: 4px 4px 20px 2px rgba(0,0,0,0.15);
}

.observ{
    /* position: relative; */
    /* margin-top: 20px; */
    /* display: flex; */
    /* flex-direction: row; */
    margin-left: 90px;
    background-color: white;
    height: 500px;
    width: 91.2%;
    border-radius: 0.5rem;
    box-shadow: 4px 4px 20px 2px rgba(0,0,0,0.15);
    margin-bottom: 20px;
}
#observ-head{
    font-size: 23px;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    padding-top: 5px;
    padding-left: 10px;
}


/* ///////////////////// Water Section ////////////////////////////// */

.waterSection{
    display: flex;
    /* flex-wrap: wrap; */
    gap: 20px;
    position: fixed;
    overflow-y: auto;
    width: 100%;
    /* flex: 1; */
    background-color: white;
    flex-direction: column;
    height: 100vh;
    /* overflow: hidden; */
    box-sizing: border-box;

}
.water-container{
    /* position: relative; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
}

#ndwi-chart-title{
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 3px;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
#ndwiChart{
    padding-left: 10px;
    /* margin-left:30px; */
    min-height: 300px;
    width: auto;
}

.ndwiChartDiv{
    margin-top: 20px;
    border-radius: 0.5rem;
    background-color: white;
    height: 340px;;
    margin-left: 90px;
    width: 450px;
    box-shadow: 4px 4px 20px 2px rgba(0,0,0,0.15);
}

#ndmi-chart-title{
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 3px;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
#ndmiChart{
    padding-left: 10px;
    /* margin-left:30px; */
    min-height: 300px;
    width: auto;
}

.ndmiChartDiv{
    margin-top: 20px;
    border-radius: 0.5rem;
    background-color: white;
    height: 340px;;
    /* margin-left: 90px; */
    width: 450px;
    box-shadow: 4px 4px 20px 2px rgba(0,0,0,0.15);
}


#lswi-chart-title{
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 3px;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
#lswiChart{
    padding-left: 10px;
    /* margin-left:30px; */
    min-height: 300px;
    width: auto;
}

.lswiChartDiv{
    margin-top: 20px;
    border-radius: 0.5rem;
    background-color: white;
    height: 340px;;
    /* margin-left: 90px; */
    width: 450px;
    box-shadow: 4px 4px 20px 2px rgba(0,0,0,0.15);
}