*{
    padding: 0;
    margin: 0;
}
.options{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    /* background-color: blue; */
    gap: 0;
    /* padding: 5px 100px; */
    height: auto;
    font-family: Helvetica;
}
#nav-btn:hover{
    border: 2px solid rgb(54, 29, 0);
}
#nav-btn{
    box-sizing: border-box;
    border: 2px solid white;
    margin-top: 0;
    height: 100%;
    padding: 6px;
    font-size: 15px;
    color: white;
    /* padding-leftpx; */
    /* padding-right: 20px; */
    min-width: 90px;
    /* background-color: white; */
    /* border: 1px solid black; */
}
i{
    margin-right: 5px;
}